body {
    width: 1440px;
    padding: 24px 156px;
    margin: 0;
}

.gallery {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    user-select: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery-item {
    flex-basis: calc((360px - 3 * 24px) / 3);
    width: 360px;
    height: 200px;
}

.gallery-link {
    display: block;
    width: 360px;
    height: 200px;
}

.gallery-image {
    width: 360px;
    height: 200px;
    object-fit: cover;
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal-image {
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
}